<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>imgPath</param-name>
        <param-value>assets/img/</param-value>
    </context-param>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.base.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.base.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.base.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewPatientServlet</servlet-name>
        <servlet-class>controller.Patient.viewPatientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewPatient</servlet-name>
        <servlet-class>controller.Patient.viewPatient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewListPatient</servlet-name>
        <servlet-class>controller.Patient.ViewListPatient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPatient</servlet-name>
        <servlet-class>controller.Patient.AddPatient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePatient</servlet-name>
        <servlet-class>controller.Patient.DeletePatient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePatient</servlet-name>
        <servlet-class>controller.Patient.UpdatePatient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewRoom</servlet-name>
        <servlet-class>controller.room.ViewRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRoom</servlet-name>
        <servlet-class>controller.room.AddRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDetail</servlet-name>
        <servlet-class>controller.room.ViewDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRoom</servlet-name>
        <servlet-class>controller.room.UpdateRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRoom</servlet-name>
        <servlet-class>controller.room.DeleteRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDetailPatient</servlet-name>
        <servlet-class>controller.Patient.ViewDetailPatient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTestPatient</servlet-name>
        <servlet-class>controller.Patient.AddTestPatient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordController</servlet-name>
        <servlet-class>controller.base.ForgotPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllPatient</servlet-name>
        <servlet-class>controller.Patient.ViewAllPatient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DischargePatient</servlet-name>
        <servlet-class>controller.Patient.DischargePatient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewReport</servlet-name>
        <servlet-class>controller.report.ViewReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddReport</servlet-name>
        <servlet-class>controller.report.AddReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateReport</servlet-name>
        <servlet-class>controller.report.UpdateReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteReport</servlet-name>
        <servlet-class>controller.report.DeleteReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterReport</servlet-name>
        <servlet-class>controller.report.FilterReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAccountNurse</servlet-name>
        <servlet-class>controller.accountManager.ViewAccountNurse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAccountDoctor</servlet-name>
        <servlet-class>controller.accountManager.ViewAccountDoctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNurse</servlet-name>
        <servlet-class>controller.accountManager.AddNurse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDetailNurse</servlet-name>
        <servlet-class>controller.accountManager.ViewDetailNurse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDetailDoctor</servlet-name>
        <servlet-class>controller.accountManager.ViewDetailDoctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccount</servlet-name>
        <servlet-class>controller.accountManager.DeleteAccountNurse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListFeedBack</servlet-name>
        <servlet-class>feedback.ListFeedBack</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewRoomController</servlet-name>
        <servlet-class>Room.ViewRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRoomNurseController</servlet-name>
        <servlet-class>Room.AddRoomNurseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAccountDoctorController</servlet-name>
        <servlet-class>Doctor.ViewAccountDoctorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNurseController</servlet-name>
        <servlet-class>Nurse.AddNurseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewNurseController</servlet-name>
        <servlet-class>Nurse.ViewNurseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateNurseController</servlet-name>
        <servlet-class>Nurse.UpdateNurseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteNurseController</servlet-name>
        <servlet-class>Nurse.DeleteNurseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDetailNurseController</servlet-name>
        <servlet-class>Nurse.ViewDetailNurseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDoctorController</servlet-name>
        <servlet-class>Doctor.AddDoctorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccountDoctorController</servlet-name>
        <servlet-class>Doctor.DeleteAccountDoctorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRoomController</servlet-name>
        <servlet-class>Room.DeleteRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDoctorController</servlet-name>
        <servlet-class>Doctor.ViewDoctorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewDoctorController</servlet-name>
        <servlet-class>Doctor.AddNewDoctorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDoctorController</servlet-name>
        <servlet-class>Doctor.DeleteDoctorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDetailDoctorController</servlet-name>
        <servlet-class>Doctor.ViewDetailDoctorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDoctorController</servlet-name>
        <servlet-class>Doctor.UpdateDoctorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewListPatientController</servlet-name>
        <servlet-class>Patient.ViewListPatientController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRoomFromAdminController</servlet-name>
        <servlet-class>Room.AddRoomFromAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewReportController</servlet-name>
        <servlet-class>Report.ViewReportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewListDoctorController</servlet-name>
        <servlet-class>Doctor.ViewListDoctorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewsDoctorController</servlet-name>
        <servlet-class>Doctor.AddNewsDoctorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDetailsDoctorController</servlet-name>
        <servlet-class>Doctor.ViewDetailsDoctorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveDoctorController</servlet-name>
        <servlet-class>Doctor.RemoveDoctorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRoomController</servlet-name>
        <servlet-class>Room.UpdateRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDoctorsController</servlet-name>
        <servlet-class>Doctor.UpdateDoctorsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteReportController</servlet-name>
        <servlet-class>Report.DeleteReportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddReportController</servlet-name>
        <servlet-class>Report.AddReportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPrescriptionController</servlet-name>
        <servlet-class>Prescription.AddPrescriptionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPrescriptionController</servlet-name>
        <servlet-class>Prescription.SearchPrescriptionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDetailAccountController</servlet-name>
        <servlet-class>controller.base.ViewDetailAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateReportController</servlet-name>
        <servlet-class>Report.UpdateReportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterReportController</servlet-name>
        <servlet-class>Report.FilterReportController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewRoom</servlet-name>
        <url-pattern>/Room/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRoom</servlet-name>
        <url-pattern>/Room/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDetail</servlet-name>
        <url-pattern>/Room/viewDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRoom</servlet-name>
        <url-pattern>/Room/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRoom</servlet-name>
        <url-pattern>/Room/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewListPatient</servlet-name>
        <url-pattern>/Patient/view-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPatient</servlet-name>
        <url-pattern>/Patient/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePatient</servlet-name>
        <url-pattern>/Patient/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePatient</servlet-name>
        <url-pattern>/Patient/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDetailPatient</servlet-name>
        <url-pattern>/Patient/view-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DischargePatient</servlet-name>
        <url-pattern>/Patient/discharge</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTestPatient</servlet-name>
        <url-pattern>/Patient/add-test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordController</servlet-name>
        <url-pattern>/ForgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewReport</servlet-name>
        <url-pattern>/Report/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddReport</servlet-name>
        <url-pattern>/Report/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateReport</servlet-name>
        <url-pattern>/Report/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteReport</servlet-name>
        <url-pattern>/Report/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterReport</servlet-name>
        <url-pattern>/Report/filter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllPatient</servlet-name>
        <url-pattern>/Patient/view-all</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAccountNurse</servlet-name>
        <url-pattern>/Accounts/view-list-nurse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAccountDoctor</servlet-name>
        <url-pattern>/Accounts/ViewAccountDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNurse</servlet-name>
        <url-pattern>/Accounts/AddNurse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDetailNurse</servlet-name>
        <url-pattern>/Accounts/ViewDetailNurse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDetailDoctor</servlet-name>
        <url-pattern>/Accounts/ViewDetailDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccount</servlet-name>
        <url-pattern>/Accounts/DeleteAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListFeedBack</servlet-name>
        <url-pattern>/ListFeedBack</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewRoomController</servlet-name>
        <url-pattern>/Room/viewroom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRoomNurseController</servlet-name>
        <url-pattern>/Room/addroomnurse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAccountDoctorController</servlet-name>
        <url-pattern>/ViewAccountDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDoctorController</servlet-name>
        <url-pattern>/AddDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccountDoctorController</servlet-name>
        <url-pattern>/DeleteAccountDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRoomController</servlet-name>
        <url-pattern>/Room/deleteroom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDoctorController</servlet-name>
        <url-pattern>/Accounts/ViewDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewDoctorController</servlet-name>
        <url-pattern>/Accounts/addNewDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDoctorController</servlet-name>
        <url-pattern>/Accounts/DeleteAccountDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDetailDoctorController</servlet-name>
        <url-pattern>/Accounts/viewDetailDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDoctorController</servlet-name>
        <url-pattern>/Accounts/UpdateDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewListPatientController</servlet-name>
        <url-pattern>/Patient/ViewPatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRoomFromAdminController</servlet-name>
        <url-pattern>/Room/addroomAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNurseController</servlet-name>
        <url-pattern>/Nurse/addnurse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewNurseController</servlet-name>
        <url-pattern>/Nurse/viewnurse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateNurseController</servlet-name>
        <url-pattern>/Nurse/updatenurse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteNurseController</servlet-name>
        <url-pattern>/Nurse/deletenurse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDetailNurseController</servlet-name>
        <url-pattern>/Nurse/viewdetailnurse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewReportController</servlet-name>
        <url-pattern>/Report/listReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewListDoctorController</servlet-name>
        <url-pattern>/Doctors/ViewDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewsDoctorController</servlet-name>
        <url-pattern>/Doctors/addDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDetailsDoctorController</servlet-name>
        <url-pattern>/Doctors/viewDetailDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveDoctorController</servlet-name>
        <url-pattern>/Doctors/Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRoomController</servlet-name>
        <url-pattern>/Room/updateroom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDoctorsController</servlet-name>
        <url-pattern>/Doctors/UpdateDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteReportController</servlet-name>
        <url-pattern>/Report/deleteReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddReportController</servlet-name>
        <url-pattern>/Report/addReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPrescriptionController</servlet-name>
        <url-pattern>/Prescription/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPrescriptionController</servlet-name>
        <url-pattern>/Prescription/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDetailAccountController</servlet-name>
        <url-pattern>/myaccount/viewAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateReportController</servlet-name>
        <url-pattern>/Report/updateReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterReportController</servlet-name>
        <url-pattern>/Report/filterReport</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
        <jsp-property-group>
            <description>JSP configuration for the system </description>
            <url-pattern>/myaccount/accountDetail.jsp</url-pattern>
            <url-pattern>/myaccount/ChangePassword.jsp</url-pattern>
            <url-pattern>/index.jsp</url-pattern>
            <url-pattern>/login.jsp</url-pattern>
            <url-pattern>/forgot_password.jsp</url-pattern>
            <url-pattern>/search.jsp</url-pattern>
            <url-pattern>/register.jsp</url-pattern>
            <include-prelude>/WEB-INF/jspf/header.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/footer.jspf</include-coda>
        </jsp-property-group>
        <jsp-property-group>
            <description>JSP configuration for the admin console
            </description>
            <url-pattern>/home.jsp</url-pattern>
            <url-pattern>/feedback.jsp</url-pattern>
            <url-pattern>/listfeedback.jsp</url-pattern>
            <url-pattern>/Patient/*</url-pattern>
            <url-pattern>/Room/*</url-pattern>
            <url-pattern>/Doctors/*</url-pattern>
            <url-pattern>/Nurse/*</url-pattern>
            <url-pattern>/Prescription/*</url-pattern>
            <url-pattern>/Report/*</url-pattern>
            <include-prelude>/WEB-INF/jspf/header2.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/footer.jspf</include-coda>
        </jsp-property-group>
    </jsp-config>
</web-app>
